p.f1{
    color: blue;
    text-align: center;
    font-size: 32;
}   
p.f2{
    color: red;
    text-align: center;
    font-size: 46;
}   
p.f3{
    color: green;
    text-align: center;
    font-size: 60;
}   